.navbar{
    display: flex;
    justify-content: right;
    padding: 1em;
    
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
    margin: 10px;
    
}

.navbar a {
    color: aliceblue !important;
    text-decoration: none;
}

.navbar ul:hover{
    transform: translateY(-10px);
    cursor: pointer;
    transition-duration: 0.5s;
}

.navbar li:hover{
    transform: translateY(-10px);
    cursor: pointer;
    transition-duration: 0.5s;
}